{sub_dirs, [
    "lib/erlydtl",
    "lib/mochiweb",
    "lib/erlybank",
	"lib/mochieb",
    "releases"
]}.

{require_otp_vsn, "R13B04|R14"}.

{cover_enabled, true}.

%{erl_opts, [debug_info, fail_on_warning]}.

% TODO : external dependencies
%{deps, [
% TODO : add rebar itself
%        {mochiweb, "1.0.0",    {git, "http://github.com/mochi/mochiweb.git",       "mochiweb-1.0.0"}}
%       ]}.

